.main {
  display: flex;
}

.chat-container {
  display: flex;
  width: 100%;
}

.chat-list {
  min-width: 241px;
  border-right: 1px solid #ddd;
  height: 100vh;
  overflow-y: auto;
}

.chat-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.chat-list-item.selected {
  background-color: #f0f0f0;
}

.chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-info {
  flex-grow: 1;
}

.chat-name {
  font-weight: bold;
  font-family: Lora;
  word-break: break-word;
}


.chat-window {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow-x: hidden;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
}

.message {
  max-width: 60%;
    border-radius: 8px;
    margin: 1.5px 0;
    font-size: 15px;
    line-height: 1.5;
    font-family: "Mukta";
    display: flex;
    min-width: 65px;
    
}
.message-text{
  align-self: flex-start;
  padding-left: 10px;
  word-break: break-word !important;
}

.message.sender {
  background-color: #007bff;
  color: white;
  padding: 4px;
  align-self: flex-end;
  text-align: right;
}

.message.receiver {
  background-color: #f1f1f1;
  padding: 4px;
  color: black;
  align-self: flex-start;
  text-align: left;
}
.message .timestamp {
  font-size: 8px;
  color: #666;
  align-self: flex-end;
  margin-left: 16px;
  white-space: nowrap;
}
.timestamp.sender{
  color: white;
}

.infinite-scroll-component {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.input-container button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.input-container button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
.no-chat-selected{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-user-info {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chat-user-info .chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.infinite-scroll-component{
  overflow: hidden !important;
}

@media only screen and (max-width: 900px) {
  .chat-list {
    min-width: 205px;
  }
}
@media only screen and (max-width: 750px) {
  .chat-list {
    min-width: 180px;
  }
  .input-container button {
    padding: 7px 6px;
  }
  .input-container input {
    padding: 7px;
  }
}
@media only screen and (max-width: 600px) {
  .chat-list {
    min-width: 150px;
  }
  .chat-name {
    font-size: 13px;
  }
  .message-text{
    font-size: 11px;
  }
}
@media only screen and (max-width: 550px) {
  .chat-list {
    min-width: 140px;
  }
  .input-container button{
    display: none;
  }
}
/* @media only screen and (max-width: 400px) {
  .chat-container {
    flex-direction: column;
  }

  .chat-list {
    width: 100%;
    display: ${({ selectedChat }) => (selectedChat ? 'none' : 'block')};
  }

  .chat-window {
    width: 100%;
    display: ${({ selectedChat }) => (selectedChat ? 'block' : 'none')};
  }
} */


