.adminUpdateUserContainer {
    background-image: url(../../images/background.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.adminUpdateUserBox {
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.adminUpdateUserBox h2 {
    margin-bottom: 21px;
    font-family: Lora;
    text-align: center;
}

.formGroup {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    position: relative;
}

.icon {
    color: #6a6868;
    position: absolute;
    margin: 5px;
}

.formGroup input, .formGroup select {
    outline: none;
    width: 100%;
    padding: 0.5rem 33px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Droid Sans;
}

.formGroup input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formGroup input[type="submit"]:hover {
    background-color: #0056b3;
}
