.postProblemContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postProblemContainer h2{
    padding: 4vmax 0px 0.7vmax 0px;
    font-family:"Lora";
}
.postBox{
    /* background-color: blue; */
    margin-top: 8vmax;
    /* justify-self: center; */
    width: 44vmax;
    height: 44%;
}
.problem >textarea{
    width: 100%;
    height: 35px;
    font-size: 15px;
    font-family: "Droid Sans";
    padding: 0px 0px 0px 40px;
    border: none;
    outline: none;
    border-bottom: 3px solid black;
    margin-bottom: 2vmax;
}

.skillsList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    font-size: 12px;
    font-family: "Droid Sans";
  }
  
  .skillItem {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .skillItem.selected {
    background-color: #007bff;
    color: white;
  }
  
  .submitButton {
    margin-top: 80px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }

  @media only screen and (max-width: 550px) {
    .skillItem {
      padding: 2px 10px !important;
  }
  .postProblemContainer h2 {
    
    font-size: 16px;
  }
}
  @media only screen and (max-width: 300px) {
    .problem >textarea {
      width: 79%;
    }
}
